<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="jumbotron">
    <h1 class="display-4">About U-synergy</h1>
    <p class="lead">The programme, Usynergy is an annual campus-campus based entrepreneurship platform designed to train and mentor universities undergraduate students across West Africa on entrepreneurship, leadership, innovative skills and other basic fundamental skills require to meet the labor market demands in various fields such as Technology, Banking, Agriculture, Media, Health and many more thereby contributing to their national development, job creation and self-reliance. </p>

    <h2 class="display-4">Mission</h2>
    <p class="lead">To create a self-reliance society in West Africa </p>
    <p class="lead">To create an environment of job creators in Africa  </p>
    <p class="lead">To establish a research society for creation of solutions to many problems around the world
        To empower undergraduates
       </p>
    <p class="lead">
        To empower undergraduates
    </p>
    <hr class="my-4">
    <h2 class="display-4">Vision</h2>
    <p class="lead">Known as community for producing researchers and problem-solvers in West Africa </p>


    <h1 class="display-4">Own a business</h1>
    <p class="lead">Note : To be eligible for startups funding , you must meet the following criteria</p>

    <hr class="my-4">
    <ul class="list-group">
        <list class="list-group">The business must have founders that are fully committed to its operation</list>
        <list class="list-group">The business must be feasible and functional</list>
        <list class="list-group">The business must be at least 2 years in operation</list>
        <list class="list-group">You must have gained some customers and available made products and services</list>
        <list class="list-group">The business must have online presence</list>
    </ul>
    <form  style="padding-top: 4px;" class=" form-inline my-2 my-lg-0">
        <a href="/register"><button  style="border-radius: 1px; height:50px;margin-top: 10px;  margin-left: 5px; padding-left:44px; padding-right: 44px;font-size: 100%; font-weight: bold;font-family: sans-serif, sans-serif; color: white;  " type="button" class="get btn btn-primary  btn-outline-primary form-control">Register for U-synergy</button></a>
        <!--            <input style="border-radius:0; border-color: black;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->

    </form>
</div>




</body>
</html>