<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body><div style=""  class="">
    <div class="row" style="padding: 15px 0 5px 0; align-content: center">
<!--        <div style="align-content: center" class="col-md-12 col-sm-12">-->
<!--            <h4 style=" text-align:center;border-radius: 0; color: white; font-size: 100%;color:rgba(0,0,0,0.7); font-weight: bold; font-family: 'Oxygen', sans-serif;">-->
<!--                WELCOME TO USYNERGY, AN EVENT CREATING MASSIVE AWARENESS OF ENTREPRENEURSHIP  TO THE NIGERIAN YOUTHS-->
<!--            </h4>-->
<!--        </div>-->


    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10px;">

        <div class="col-md-9 col-sm-12">
            <div style="background-color: white;" class="jumbotron">
                <!--<img src="/images/Usynergy..jpg">-->
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/U6.jpg" class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active" data-interval="3000">

                            <img src="/images/Usynergy..jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/U1.jpg" class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/U2.jpg" class=" d-block w-100" alt="...">
                        </div>

                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/U3.jpg" class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/U4.jpg" class=" d-block w-100" alt="...">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <form  style="background-color: white;padding-top: 4px;" class=" form-inline my-2 my-lg-0">
                    <a href="/register"> <button  style=" width:300px;border-radius: 1px; height:50px;margin-top: 10px;  margin-left: 5px; padding-left:44px; padding-right: 44px;font-size: 100%; font-weight: bold;font-family: sans-serif, sans-serif; color: white;  " type="button" class="get btn btn-primary  btn-outline-primary form-control">Register for U-synergy</button></a>
                    <!--            <input style="border-radius:0; border-color: black;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                    <a href="/about"><button  style="color: dodgerblue;border-width: 2px; border-radius: 1px; height:50px;margin-top: 10px; margin-left: 5px; padding-left:44px; padding-right: 44px;font-size: 100%; font-weight: bold;font-family: sans-serif, sans-serif;background-color: white; rgba(10,10,300,0.9); " type="button" class="after  btn-outline-primary form-control">Learn more about U-synergy</button></a>
                    <!--            <button style="border-radius:0;" class="btn btn-outline-light my-2 my-sm-0 bg-dark" type="submit">Search</button>-->
                </form>
            </div>

        </div>
        <div class="col-md-3 col-sm-12">
            <div class="list-group">
                <h5 style="text-align: center" class="swal2-header">
                    News Updates
                </h5>
                <a href="#" class="list-group-item list-group-item-action ">

                    <p class="mb-1">Tribunal dismisses INECs, Buharis applications for dismissal of PDMs petition</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Mother, daughter reported assassin to police for failing to carry out murder.</p>
                    <small class="text-muted">Today</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Heavy rainfall leaves buildings, cars damaged in Ilorin</p>
                    <small class="text-muted">Today</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Heavy rainfall leaves buildings, cars damaged in Ilorin</p>
                    <small class="text-muted">Today</small>
                </a>
            </div>
        </div>
    </div>


<div class="show" style="padding: 30px; font-family: 'Muli', sans-serif; width: 100%;color: white;   background-color: #233D93; text-align: center; ">
    <i class="fas fa-user-tie"></i>
    <h1 style="font-weight: bold; padding: 90px 0 10px 0">Register to Meet West African Most Influential Indrustrialist Across all Sectors</h1>
<p style="font-weight: bold; padding: 20px 0 10px 0; margin-top: 30px;">And be mentored , trained on successful business dynamism, skills and many others in
    various fields such as Entertainment ,Technicality ,Media,Banking, Agriculture, Health ,Music ,Art etc.</p>
</div>
<!--    <div style="margin-top:-9px; border-bottom: 1px solid rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1)" class="container">-->
<!--        <div  style="padding: 15px 0 15px 0" class="container">-->
<!--            -->
<!--            -->
<!--            -->
<!--&lt;!&ndash;            <button style=" padding-left:44px; padding-right: 44px; border-radius: 40px" class="btn btn-primary btn-large">Register now</button>&ndash;&gt;-->
<!--&lt;!&ndash;            <button style="  padding-left:44px;border-width: 3px; padding-right: 44px; border-radius: 40px " type="button" class="btn btn-outline-primary">Get Started</button>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->

    <div style="margin-top:40px; border-bottom: 1px solid rgba(0,0,0,0.2);border-top: 1px solid rgba(0,0,0,0.2)" class="container">
        <div class="swal2-container">
            <h3  style=" font-family: 'Cabin Condensed', sans-serif;text-align: center">
                Featuring great men and women who have impacted the country with there commitment like
            </h3>
        </div>
    </div>
    <hr style="margin-top: 50px; transform: rotate(-4deg)">
    <div style="background-color: #efefef" >

        <div class="row">


            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="/images/U5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">To be unveiled soon</h5>
                        <p class="card-text">Coming soon </p>

                    </div>
                </div>
            </div>



    </div>





    <div class="b-rotY">
        <button class="rotate btn btn-danger ">Feedback</button>
    </div>





</div>
    <div class="show" style="margin-top: 40px; font-family: 'Muli', sans-serif; width: 100%;color:#233D93;   background-color: #efefef; text-align: center; height: 80vh;">
        <h1 style="font-weight: bold; padding: 30px 0 10px 0">Why U-synergy?</h1>


        <div style="background-color: rgba(0,0,0,0.1)" >

            <div class="row">

                <div class="col-md-4">
                    <div class="card" style="background: #233D93">

                        <div class="card-body">
                            <h5 class="card-title" style="color: white; font-family: verdana; font-weight: bold;">To create a self-reliance society in West Africa</h5>


                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="background: #233D93">

                        <div class="card-body">
                            <h5 class="card-title" style="color: white; font-family: verdana; font-weight: bold;" >To establish a research society for creation of solutions to many problems around the world</h5>


                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="background: #233D93">

                        <div class="card-body">
                            <h5 class="card-title"   style="color: white; font-family: verdana; font-weight: bold;">To create an environment of job creators in Africa </h5>
                            <p class="card-text"> </p>

                        </div>
                    </div>
                </div>





            </div>

        </div>






            </div>
    <div class="show " style="align-items: center;align-content: center; margin-top: 40px; font-family: 'Muli', sans-serif; width: 100%;color:lightblue;  text-align: center; height: 80vh;">
        <h4 style="font-weight: bold; padding: 30px 0 10px 0">Register now before its too late</h4>
        <div class="row">
            <div class="col-md-12  col-sm-12">
                <form  style="background-color: white;padding-top: 4px;" class="  my-2 my-lg-0">
                    <a href="/register" ><button  style="border-radius: 1px; height:50px;margin-top: 10px;   padding-left:44px; padding-right: 44px;font-size: 100%; font-weight: bold;font-family: sans-serif, sans-serif; color: white;  " type="button" class="get btn btn-primary  btn-outline-primary form-control">Register for U-synergy</button></a>
                    <!--            <input style="border-radius:0; border-color: black;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->

                </form>
                <h3 style="margin-top: 30px; text-align: center;color: black"> Meet our sponsors</h3>
                <p style="text-align: center">To be unveiled soon...</p>
            </div>


        </div>



        <!--                <div class="row">-->

        <!--                    <div class="col-md-4">-->
        <!--                        <div class="card" style="background: white">-->

        <!--                            <div class="card-body">-->
        <!--                  -->


        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->





    </div>

    <!--<div style="text-align:center; margin-top: 50px;" class="swal2-container">-->

<!--    <img  style="width: 93%;height: 70vh;" src="https://flaglane.com/download/nigerian-flag/nigerian-flag-large.png" >-->
<!--    <i class="fas fa-globe-americas"></i>-->
<!--    <i class="fas fa-globe"></i><h2 style="margin-top: -350px; font-weight: bold; font-size: 300%; color: rgba(0,0,0,1); font-family: 'Anton', sans-serif;"> Introducing all Nigerians to an advanced level of entrepreneurship</h2>-->

<!--    <p style="font-weight: bold;padding-bottom: 80px; font-size: large; font-family: 'Roboto', sans-serif;">Come to make a remarkable change in your life, success is meant for all.</p>-->
<!--</div>-->
<!--<div class="swal2-container">-->
<!--    <div style="text-align: center;align-content: center; margin-top: 60px;margin-left: 30px; width:100%; transform: rotate(-4deg); height: 140vh; background-color: #efefef; border-bottom: 2px solid rgba(0,0,0,0.3);border-top: 2px solid rgba(0,0,0,0.6)">-->
<!--        &lt;!&ndash;<span class="bg-primary" style="width: 6px; height: 6px; border-radius:50%;">&ndash;&gt;-->
<!--        &lt;!&ndash;    &ndash;&gt;-->
<!--  g      &lt;!&ndash;</span>&ndash;&gt;-->
<!--        <div class="upright row" style="transform: rotate(4deg); text-align: center;">-->

<!--            <div class="col-md-12" style="margin-top: 200px;" >-->
<!--                <h1 style="padding-bottom: 40px; font-weight: bold;font-family: Aharoni;   color: dodgerblue">We promise that the program will be</h1>-->
<!--                &lt;!&ndash;                <div class="row">&ndash;&gt;-->

<!--                &lt;!&ndash;                    <div class="col-4">&ndash;&gt;-->

<!--                &lt;!&ndash;                        <div class="list-group" id="list-tab" role="tablist">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Impacting</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Educative</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Optimistic</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Worth coming</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <div class="col-8" style="box-sizing: border-box;box-shadow: 0 0 5px 0 rgb(200,200,200); height: 90%;">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <div class="tab-content" id="nav-tabContent">&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="font-weight: bold; font-family:Leelawadee"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>&ndash;&gt;-->
<!--                &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->



</body>

<style>
.divider{

}
    .showcase{
        width: 100%;
        height: 40%;
        background-image: url("https://img.freepik.com/free-photo/nigeria-flag-wrinkled-dark-background-3d-render_1379-730.jpg?size=626&ext=jpg");
    }
    .card img{
        height: 300px;
    }
    body{
        background-color: white;
    }
    .list-group{
        box-sizing: border-box;
        box-shadow: 0 0 10px 0 rgb(200,200,200);


    }
    .card{
        margin-top: 20px;
    }
    @media (max-width: 768px) {
        .b-rotY{
            position: fixed;
            margin-top: -700px;
        }
    }
    .b-rotY{
        position: absolute;
        transform: rotate(90deg);
        margin-top: -800px;


        margin-left: -56px;
    }
    .b-rotY button{
        border-radius: 0;
    }
    .container{
        max-width: 95%;
    }
    .jumbotron{
        padding: 0;
    }
    .jumbotron .carousel-inner .carousel-item{
        height: 70vh;

    }
    .jumbotron img{
        height: 100%;
    }
.show{

}
</style>
</html>