<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container">

<form method="post" action="/register">

    <h3>Sign Up foe Usynergy 2019</h3>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Full Name</label>
            <input name="name" type="text" class="form-control" id="inputEmail4" placeholder="Full name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nationality</label>
            <input type="text" name="nationality" class="form-control" id="inputPassword4" placeholder="Nationaltiy">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">School</label>
        <input type="text"name="school" class="form-control" id="inputAddress" placeholder="E.g SOS">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Address </label>
        <input type="text" name="address" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Phone number</label>
            <input type="text" name="phone_no"class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState" name="sex">Gender</label>
            <select name="sex" id="inputState" class="form-control">
                <option name="sex" selected>Male</option>
                <option name="sex">Female</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Email</label>
            <input name="email" type="email" class="form-control" placeholder="enter email" id="inputZip">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Company Name</label>
            <input name="company_name" type="text" class="form-control" id="inputEmail4" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Company Address</label>
            <input type="text" name="company_address" class="form-control" id="inputPassword4" >
        </div>
    </div>
    <h3>Social Media Pages</h3>
    <div class="form-row">
        <div class="form-group col-md-4">


            <label for="inputEmail4">Facebook</label>
            <input name="company_name" type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Instagram</label>
            <input type="text" name="company_address" class="form-control" id="inputPassword4" >
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Twitter</label>
            <input type="text" name="company_address" class="form-control" id="inputPassword4" >
        </div>
    </div>
    <div class="form-check">
        <p>I will attend</p>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Day1 alone</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Day1 and 2</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline3">Day1 ,2 and 3</label>
        </div>
    </div>
    <div class="form-check">
        <p>What Category does your business belong?</p>

        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline9" name="customRadioInline9" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline9">Media</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline77" name="customRadioInline77" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline77">Products</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline00" name="customRadioInline00" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline00">Fashion</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline000" name="customRadioInline000" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline000">Event</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline79" name="customRadioInline79" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline79">Management</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline33" name="customRadioInline33" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline33">Music</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline66" name="customRadioInline66" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline66">Tech</label>
        </div>

    </div>
    <div class="form-group col-md-4">
        <label for="inputPassword4">other</label>
        <input type="text"  class="form-control" id="inputPassword4" >
    </div>
    <div class="form-group">
        <div class="form-check">

            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
Terms & conditions
            </label>
            <p>Usynergy is a platform committed to creating enabling environment for undergraduates across Africa only. Please note, we will not be responsible for any damages caused  during or after event include but limited to life, valuables, injury of any form.
            </p>
        </div>


        <div class="form-group col-md-4">
            <label for="inputPassword4">Brief and concise note about your business</label>
            <input type="text"  class="form-control" id="inputPassword4" >
        </div>

    </div>
    <button type="submit" style="margin-bottom: 13px;"  class="form-control btn btn-primary">Register</button>
</form>
</div>
</body>
<style>
    input[type="text"]{
        border: 1px solid rgba(0,0,0,0.6);
        border-radius: 0;
    }
</style>
</html>