<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body><div style=""  class="">
    <div class="row" style="padding: 15px 0 5px 0; border-bottom: 2px solid royalblue; align-content: center">
        <div style="align-content: center" class="col-md-12 col-sm-12">
            <h4 style="text-align:center;border-radius: 0; color: white; font-size: 100%;color:rgba(0,0,0,0.7); font-weight: bold; font-family: 'Oxygen', sans-serif;">
                WELCOME TO USYNERGY, AN EVENT CREATING MASSIVE AWARENESS OF ENTREPRENEURSHIP  TO THE NIGERIAN YOUTHS
            </h4>
        </div>


    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 10px;">

        <div class="col-md-9 col-sm-12">
            <div style="background-color: white;" class="jumbotron">
                <!--<img src="/images/Usynergy..jpg">-->
                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="3000">
                            <img src="/images/Usynergy..jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/pic1.jpg" class=" d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="/images/pic2.jpg" class=" d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>
        <div class="col-md-3 col-sm-12">
            <div class="list-group">
                <h5 style="text-align: center" class="swal2-header">
                    News Updates
                </h5>
                <a href="#" class="list-group-item list-group-item-action ">

                    <p class="mb-1">Tribunal dismisses INECs, Buharis applications for dismissal of PDMs petition</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Mother, daughter reported assassin to police for failing to carry out murder.</p>
                    <small class="text-muted">Today</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Heavy rainfall leaves buildings, cars damaged in Ilorin</p>
                    <small class="text-muted">Today</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">

                    <p class="mb-1">Heavy rainfall leaves buildings, cars damaged in Ilorin</p>
                    <small class="text-muted">Today</small>
                </a>
            </div>
        </div>
    </div>

    <div style="margin-top:-9px; border-bottom: 1px solid rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1)" class="container">
        <div  style="padding: 15px 0 15px 0" class="swal2-container">
            <button style=" padding-left:44px; padding-right: 44px; border-radius: 40px" class="btn btn-primary btn-large">Register now</button>
            <button style="  padding-left:44px;border-width: 3px; padding-right: 44px; border-radius: 40px " type="button" class="btn btn-outline-primary">Get Started</button>

        </div>
    </div>

    <div style="margin-top:40px; border-bottom: 1px solid rgba(0,0,0,0.2);border-top: 1px solid rgba(0,0,0,0.2)" class="container">
        <div class="swal2-container">
            <h3  style=" font-family: 'Cabin Condensed', sans-serif;text-align: center">
                Featuring great men and women who have impacted the country with there commitment like
            </h3>
        </div>
    </div>
    <hr style="margin-top: 50px; transform: rotate(-4deg)">
    <div style="background-color: #efefef" >

        <div class="row">


            <div class="col-md-4">
                <div class="card">
                    <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/30.-Mohamed-Alabbar-United-Arab-Emirates.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mohamed Alabbar (United Arab Emirates)</h5>
                        <p class="card-text">It’s fair to say that Mohamed Alabbar didn’t come into the world with a silver spoon in his mouth. Indeed, he spent at least part of his childhood in a house with a roof made of palm leaves, that had no electricity and which he shared with a dozen siblings.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card" >
                    <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/29.-Yngve-Slyngstad-Norway.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Yngve Slyngstad (Norway)</h5>
                        <p class="card-text">Yngve Slyngstad certainly seems to hold education in high regard. After all, he holds no fewer than four master’s degrees – in law, business management, economics and political science. The knowledge he acquired through studying for those qualifications would, moreover, more </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card" >
                    <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/26.-Aliko-Dangote-Nigeria.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aliko Dangote (Nigeria)</h5>
                        <p class="card-text">Nigerian tycoon Aliko Dangote comes from a family that has been rich for at least three generations, with its prosperity first arising from groundnut and kola nut trading. Indeed, it’s even said that Dangote’s maternal great-grandfather was the wealthiest individual in Nigeria at the time of his death in 1955.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
















    </div>


    <div class="row" style="margin-top: 60px">


        <div class="col-md-4">
            <div class="card">
                <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/30.-Mohamed-Alabbar-United-Arab-Emirates.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mohamed Alabbar (United Arab Emirates)</h5>
                    <p class="card-text">It’s fair to say that Mohamed Alabbar didn’t come into the world with a silver spoon in his mouth. Indeed, he spent at least part of his childhood in a house with a roof made of palm leaves, that had no electricity and which he shared with a dozen siblings.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card" >
                <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/29.-Yngve-Slyngstad-Norway.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yngve Slyngstad (Norway)</h5>
                    <p class="card-text">Yngve Slyngstad certainly seems to hold education in high regard. After all, he holds no fewer than four master’s degrees – in law, business management, economics and political science. The knowledge he acquired through studying for those qualifications would, moreover, more </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="card" >
                <img src="https://internationalbusinessguide.azureedge.net/wp-content/uploads/2017/12/26.-Aliko-Dangote-Nigeria.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aliko Dangote (Nigeria)</h5>
                    <p class="card-text">Nigerian tycoon Aliko Dangote comes from a family that has been rich for at least three generations, with its prosperity first arising from groundnut and kola nut trading. Indeed, it’s even said that Dangote’s maternal great-grandfather was the wealthiest individual in Nigeria at the time of his death in 1955.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="b-rotY">
        <button class="rotate btn btn-danger ">Feedback</button>
    </div>


    <div class="showcase">

    </div>


</div>
<div style="text-align:center; margin-top: 50px;" class="swal2-container">

    <img  style="width: 93%;height: 70vh;" src="https://flaglane.com/download/nigerian-flag/nigerian-flag-large.png" >
    <i class="fas fa-globe-americas"></i>
    <i class="fas fa-globe"></i><h2 style="margin-top: -350px; font-weight: bold; font-size: 300%; color: rgba(0,0,0,1); font-family: 'Anton', sans-serif;"> Introducing all Nigerians to an advanced level of entrepreneurship</h2>

    <p style="font-weight: bold;padding-bottom: 80px; font-size: large; font-family: 'Roboto', sans-serif;">Come to make a remarkable change in your life, success is meant for all.</p>
</div>
<div class="swal2-container">
    <div style="text-align: center;align-content: center; margin-top: 60px;margin-left: 30px; width:100%; transform: rotate(-4deg); height: 140vh; background-color: #efefef; border-bottom: 2px solid rgba(0,0,0,0.3);border-top: 2px solid rgba(0,0,0,0.6)">
        <!--<span class="bg-primary" style="width: 6px; height: 6px; border-radius:50%;">-->
        <!--    -->
        <!--</span>-->
        <div class="upright row" style="transform: rotate(4deg); text-align: center;">

            <div class="col-md-12" style="margin-top: 200px;" >
                <h1 style="padding-bottom: 40px; font-weight: bold;font-family: Aharoni;   color: dodgerblue">We promise that the program will be</h1>
                <!--                <div class="row">-->

                <!--                    <div class="col-4">-->

                <!--                        <div class="list-group" id="list-tab" role="tablist">-->
                <!--                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Impacting</a>-->
                <!--                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Educative</a>-->
                <!--                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Optimistic</a>-->
                <!--                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings" style="font-weight: bold; font-size: 130%; font-family: 'Libre Franklin', sans-serif;">Worth coming</a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="col-8" style="box-sizing: border-box;box-shadow: 0 0 5px 0 rgb(200,200,200); height: 90%;">-->
                <!--                        <div class="tab-content" id="nav-tabContent">-->
                <!--                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="font-weight: bold; font-family:Leelawadee"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>-->
                <!--                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>-->
                <!--                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"> is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>-->
                <!--                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>


        </div>
    </div>



</body>

<style>
    .showcase{
        width: 100%;
        height: 40%;
        background-image: url("https://img.freepik.com/free-photo/nigeria-flag-wrinkled-dark-background-3d-render_1379-730.jpg?size=626&ext=jpg");
    }
    .card img{
        height: 300px;
    }
    body{
        background-color: white;
    }
    .list-group{
        box-sizing: border-box;
        box-shadow: 0 0 10px 0 rgb(200,200,200);


    }
    @media (max-width: 768px) {
        .b-rotY{
            position: fixed;
            margin-top: -700px;
        }
    }
    .b-rotY{
        position: absolute;
        transform: rotate(90deg);
        margin-top: -800px;


        margin-left: -56px;
    }
    .b-rotY button{
        border-radius: 0;
    }
    .container{
        max-width: 95%;
    }
    .jumbotron{
        padding: 0;
    }
    .jumbotron .carousel-inner .carousel-item{
        height: 70vh;

    }
    .jumbotron img{
        height: 100%;
    }
</style>
</html>